.idea
example/Example
venv
cffi_dist/example_typescript/node_modules
cffi_dist/example_typescript/build
cffi_dist/example_typescript/package-lock.json
cffi_dist/example_node/package-lock.json
cffi_dist/example_node/node_modules
/cffi_dist/dist/
